.banner {
    padding: 120px 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .content {
    max-width: 950px;
  }
  
  .heading {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      90deg,
      rgb(255, 255, 255) 3.19%,
      rgb(58, 78, 249) 10.49%,
      rgb(58, 78, 249) 19.91%,
      rgb(255, 255, 255) 30.81%,
      rgb(61, 243, 229) 64.52%
    );
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 110%;
    margin-bottom: 20px;
  }
  
  .subheading {
    color: rgb(173, 172, 182);
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 120%;
    margin-bottom: 140px;
    max-width: 950px;
  }
  